.a-pulse, .a-pulse-children > * {
    transform: perspective(30em) translateZ(0em);
    -webkit-animation: pulse 2s linear 0s infinite;
    animation: pulse 2s linear 0s infinite;
    transform-style: preserve-3d;
    perspective: 30em;
}
.a-repeat-3, .a-repeat-3 > * {
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
}
.a-delay-cascade-2s *:nth-child(1) {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}
.a-delay-cascade-2s *:nth-child(2) {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}
.a-delay-cascade-2s *:nth-child(3) {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
}
.a-delay-cascade-2s *:nth-child(4) {
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
}
.a-delay-cascade-2s *:nth-child(5) {
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}
@keyframes pulse {
    10% {
        transform: perspective(30em) translateZ(1em);
    }
    0%, 20%, 100% {
        transform: perspective(30em) translateZ(0em);
    }
}

@-webkit-keyframes pulse {
    10% {
        -webkit-transform: perspective(30em) translateZ(1em);
        transform: perspective(30em) translateZ(1em);
    }
    0%, 20%, 100% {
        -webkit-transform: perspective(30em) translateZ(0em);
        transform: perspective(30em) translateZ(0em);
    }
}