/* 
    Used for hiding elements, cannot be !important (no matter what!) as js needs to set display: block 
    on the inline via jQuery's show() 
*/
.is-hidden {
    display: none;
}

.l-columns:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .l-columns {
    display: block;
}

/* Hides from IE-mac \*/
* html .l-columns {
    height: 1%;
}

.collapsible .collapsible-hidden {
    display: none;
}
    .collapsible.is-expanded .collapsible-hidden {
        display: block;
    }

.l-browser-height {
    min-height: 100vh;
}

.l-fixed-sm {
    position: fixed;
}

@media screen and (min-width: 48em) {
    .l-left-column {
        float: left;
    }
    
    .l-right-column {
        float: right;
    }
    
    .l-relative {
        position: relative;
    }
    
    .l-fixed {
        position: fixed;
    }
}