DirectoryIndex index.html

Options FollowSymlinks
Options -Indexes

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

ErrorDocument 404 /404.html

# Use HTTP Strict Transport Security to force client to use secure connections only
Header set Strict-Transport-Security "max-age=86400"
Header append Strict-Transport-Security includeSubDomains

RewriteEngine On
RewriteCond %{SERVER_PORT} !=443 [OR]
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
