html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: "Oxygen", "Devjavu Sans", "Arial", sans;
}

body {
    background-color: #fff;
    color: #222;
}
a:focus {
    outline: 0;
}

a, a:link {
    text-decoration: none;
    border-bottom: 1px solid #ff8000;
    color: #a05220;
}
    a:hover {
        border-color: #f00;
    }

main {
    word-wrap: break-word;
}

p {
    line-height: 1.8em;
}

em {
    color: #f00;
}

.header-main {
    text-align: center;
    border-bottom: 1px solid #ff8000;
    background-color: #eee;
    width: 100%;
}

.side-nav {
    border-color: #000;
}

.side-nav > ul {
    padding: 0;
}

.side-nav li > a {
    color: #0e0e0e;
    display: block;
    padding: 0.2em 1em;
}
.side-nav li {
    padding: 0.2em 1em;
    margin: 0.2em 0;
    border: 1px solid #e3e3e3;
    border-radius: 0 0.5em 0.5em 0;
}

.content {
    padding: 0.2em 1em;
}

@media screen and (min-width: 48em) {
    .left-gutter {
        position: absolute;
        left: 0;
        top: 5em;
    }

    .left-gutter.pure-u-md-1-5 ~ * {
        padding-left: 20%;
    }

    .content.content-top-offset {
        margin-top: 5em;
    }

    .l-fixed {
        position: fixed;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #ddd;
    }

    a, a:link {
        color: #a05220;
    }

    .header-main {
        background-color: #444;
    }

    .side-nav {
        border-color: #000;
    }

    .side-nav li > a {
        color: #ddd;

    }
}
